* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
:root {
  --color-primary: #29d882;
  --color-promary-variant: #00bd95;
  --color-white: #ffff;
  --color-black: #21272f;
  --color-dark: #88949b;
  --transtion: 0.4s ease;
}
body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 130%;
}
h3 {
  font-size: 34px;
  font-weight: 700;
  color: var(--color-primary);
  line-height: 130%;
}
p {
  color: var(--color-dark);
  line-height: 150%;
  font-size: 19px;
}
img {
  width: 100%;
  display: block;
}
.btn {
  display: inline-block;
  width: fit-content;
  padding: 14px 32px;
  font-weight: 500;
  font-size: 19px;
  border-radius: 30px;
  background: var(--color-primary);
  color: var(--color-white);
  box-shadow: 0 02px 06px rgba(0, 0, 0, 0.4);
  transition: var(--transtion);
}
.btn:hover {
  background: var(--color-promary-variant);
  box-shadow: none;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1420px;
}
/*....................Start Nav Bar....................*/
nav {
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-black);
}
.logo span {
  color: var(--color-dark);
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav-links li a {
  font-size: 19px;
  color: var(--color-dark);
  position: relative;
  transition: var(--transtion);
}
.nav-links li a:hover {
  color: var(--color-black);
}
.nav-links li a:before {
  content: "";
  width: 0%;
  height: 3px;
  border-radius: 6px;
  background: var(--color-primary);
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: var(--transtion);
}
.nav-links li a:hover::before {
  width: 100%;
}
.active {
  color: var(--color-black) !important;
}
.active::before {
  width: 100% !important;
}

/*....................End Nav Bar....................*/
/*....................Start Header section....................*/
header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.header-container {
  display: grid;
  grid-template-columns: auto 30rem;
  gap: 4rem;
  align-items: center;
}
.header-container h3 {
  margin: 0.7rem 0;
  color: var(--color-primary);
}
.header-container p {
  margin: 0 0 1.8rem;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle {
  height: 28rem;
  width: 28rem;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  position: relative;
  animation: CircleAni linear infinite 20;
}
@keyframes CircleAni {
  to {
    transform: rotate(360deg);
  }
}
.circle a {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  font-size: 22px;
  position: absolute;
  transition: var(--transtion);
}
.circle a:hover {
  background: var(--color-primary);
  color: var(--color-white);
}
.circle a:nth-child(1) {
  left: calc(50% - 2rem);
  top: -2rem;
}
.circle a:nth-child(2) {
  top: calc(50% - 2rem);
  right: -2rem;
}
.circle a:nth-child(3) {
  top: calc(50% - 2rem);
  left: -2rem;
}
.circle a:nth-child(4) {
  left: calc(50% - 2rem);
  bottom: -2rem;
}
.hero-image {
  position: absolute;
  height: 22rem;
  width: 22rem;
  overflow: hidden;
  padding: 1rem;
  border-radius: 50%;
  background: var(--color-primary);
}
/*....................End Header section....................*/
